<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include("hola mundo") %>
    <h1><%= title %></h1>
</body>

</html>